@import "tailwindcss";


@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}


.building-image-container {
  margin-top: 100px;
  text-align: left;
  background-image: url('https://s3.ap-south-1.amazonaws.com/townscript-common-resources/assets/footer-skyline.png');
  background-repeat: repeat-x;
  background-position: left top;
  background-size: auto; /* optional, or cover / contain */
  width: 100%;
  min-height: 5rem;
}

.featured-carousel .swiper-slide {
  transition: all 0.6s ease;
  transform: scale(0.8);
  opacity: 0.5;
}

.featured-carousel .swiper-slide-active {
  transform: scale(1);
  opacity: 1;
  z-index: 10;
}

.featured-carousel .swiper-slide-next,
.featured-carousel .swiper-slide-prev {
  transform: scale(0.9);
  opacity: 0.8;
}


/* Hide scrollbar cross-browser */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }